html , body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 95%;
}

#header{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* #header-logo {
    
} */

#header-ul li{
    display: inline;

    width: 80%;
}

#header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 40px;
    /*text-align: center; */

    max-width: 85%;
}


#header-menu ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    padding: 15px;
    letter-spacing: 0.5px;
    font-weight: 300px;
}

#header-menu ul li a:hover{
    text-decoration-line: underline;
}

#header-banner {
    margin-top: 30px;
    width: 90%;
    height: 70%;
}

#header-banner img{
    width: 100%;
    height: 100%;

    margin-right: auto;
    margin-left: auto;
}

/* mobile nav */
#nav-bar-btn{
  width: 28px;
  height: 28px;
  color: black;
  display: none;
}

.text-heading{
    text-align: center;

    font-family: "Averta Std CY";
    font-size: 36px;
    font-weight: 700;

    color: #b48c72;

    margin-top: 12px;
    margin-bottom: 10px;

    letter-spacing: 0;
    line-height: 1.33333;

    text-transform: uppercase;
}

#intro-div {
    /* display: inline; */
}

#intro-div ul {
    display: flex;
    justify-content: center;
}

#intro-div ul li{
    width: 20%;
    /* display: flex;
    justify-content: center; */
}

#intro-div ul li img{
    width: 95%;
    height: 80%;
}

p {
    display: inline;
}

#intro-image{
    display: flex;
    justify-content: center;    
}

#intro-image img {
    width: 50%;
}

/* slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 40px;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#product-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 90%;
}

#product-detail{
  display: flex;
  justify-content: center;
}

.product-img {
  object-fit: cover;

  display: flex;
  justify-content: center;
}

.product-img img {
  width: 80%;
  height: 30%;
}

.product-col {
  width: 20%;
  height: 100%;

}

.product-col h3,p {
  text-align: left;

  /* margin-top: 10px; */
  margin-left: 33px;

  font-size: 22px;
  
  /* max-width: 80%;
  height: 46px; */

  line-height: 1.5;

  color: #3F3B36;
  
}

.product-col h3 {
  font-weight: 300;
}

.product-col p {
  font-weight: 700;
}

#banner-slideshow {
  margin-top: 2cm;
  

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#banner-slideshow img{
  margin: 17px;
  padding: 7px;

  width: 75%;
  height: 60%;
}

#new-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
}

#box-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  width: 80%;
}

#box-img h3 {
  max-width: 70%;
  font-size: 26px;
/* 
  text-align: left;
  float: left;
  margin-left:-83px; */
}

.box-img-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 40%;

}

.box-img-content img {
  width: 100%;
}

.box-img-content p {
  font-size: 26px;
  font-weight: 300;
  /* max-width: 70%; */
  height: auto;
  margin-bottom: 0;
  line-height: 1.6;
  text-overflow: ellipsis;
  text-align: left;
  /* margin-left:-83px; */
}

.box-img-img {
  display: flex;
  justify-content: center;

  width: 90%;
}

#contact {
  width: 80%;
  margin-top: 3cm;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-left{
  width: 50%;

  display: flex;
  justify-content: center;
}

#contact-left img {
  width: 90%;
  height: 90%;
}

#contact-right{
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: start;

  padding-left: 15px;
}

#contact-right span{
  text-align: left;
  max-width: 70%;

  font-size: 24px;
}

#contact-right button {
  margin-top: 1cm;

  width: 2cm;
  height: 1.3cm;

  border: 1px solid #B48C72;
  border-radius: 5px;

  cursor: pointer;

  font-size: 18px;

  font-weight: 300;

  padding: 5px 15px !important;

  min-width: 180px;
  text-align: center;

  color: #B48C72;
  background: transparent;
}

.title {
  margin-top: 1cm;

  font-weight: bold;
  text-shadow: #3F3B36;
}

hr {
  width: 50%;
  text-align: center;
}

#back-to-homepage:hover{
  color: brown;
  text-decoration: underline;
}

#footer {
  font-size: 16px;
}

#footer-container {
  margin-top: 2cm;
}

#footer-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  margin-right: -20px;
  margin-left: -20px;
}

.footer-col{
  margin: 25px;
  padding: 25px;
}

.footer-col img{
  width: 100%;
}

.footer-col a img {
  width: 45px;
  height: 45px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.footer-col h5 {
  font-size: 24px;

  text-transform: uppercase;
}

.footer-col a {
  margin: 8px;
}

.footer-col li{
  margin-right: 8px;
  padding: 5px;
}

.footer-col span {
  font-size: 24px;
  line-height: 24.5px;

  font-weight: 300;

  background-color: transparent;
}

#nav-mobile{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 100%;
  width: 320px;
  background-color: #fff;
  z-index: 3;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}

#nav-mobile-list{
  margin-top: 24px;
}

.nav-mobile-link{
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
}

.nav-mobile-close{
  width: 28px;
  height: 28px;
  color: #666;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
}

.nav-input:checked ~ .nav-overlay {
  display: block;
} 

.nav-input:checked ~ #nav-mobile {
  transform: translateX(0);
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* for ipad */
@media (max-width: 1023px) {
  #nav-bar-btn{
    display: block;
    margin-right: 100%;
    float: left;
  }

  #header-menu{
    display: none;
  }

  .nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
  }

  .text-heading {
    font-size: 20px;
  }

  #intro-div{
    width: 100%;
    height: 100%;
  }

  #intro-ul ul {
    width: 100%;
    height: 100%;
  }

  #intro-div ul li{
    width: 50%;
  }

  #intro-ul li {
    width: 100%;
    height: 100%;
  }

  #intro-ul li img{
    /* width: 100%;
    height: 90%; */
  }

  .product-col{
    width: 100%;
  }

  .product-col h3 {
    font-size: 16px;
  }

  .product-col p {
    font-size: 20px;
    margin-top: 10px;
    word-wrap: break-word;
    line-height: 2;
  }
 
  #box-img h3{
    font-size: 18px;
    /* margin-left: 53px; */
  }

  .box-img-content {
    display: flex;
    justify-content: center;
  }

  .box-img-content p {
    font-size: 18px;
    /* margin-left: 53px; */
  }

  #contact-left{
    width: 50%;
    height: 50%;
  }

  #footer-row {
    display: flex;
    justify-content: center;
  }

  .footer-col{
    margin: 0;
    padding: 20px;
  }

  .footer-col h5{
    font-size: 18px;
  }

  .footer-col a img{
    width: 30px;
    height: 30px;
    
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 1750px) {
  #header-menu   {
    max-width: 100%;
  }

  #header-menu ul li a {
    padding:9px;
    font-size: 15px;
  }

  .text-heading{
    font-size: 28px;
  }

}

@media(max-width: 1081px) {
  #header-menu   {
    max-width: 100%;
  }

  #header-menu ul li a {
    padding:5px;
    font-size: 15px;
  }

  .text-heading{
    font-size: 28px;
  }
}